@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Big+Shoulders+Display:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Big+Shoulders+Display:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.ruka {
  width: 1440.901px;
  height: 685px;
  flex-shrink: 0;
}
.secondline {
  width: 1440px;
  height: 548px;
  flex-shrink: 0;
  background-color: black;
  display: flex;
  margin-top: -4px;
}
.secondlineheader {
  color: var(--White, #fff);
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Big Shoulders Display";
  font-size: 70px;
  font-weight: 900;
  line-height: 70px;
  text-transform: uppercase;
  width: 350px;
  margin-left: 165px;
  margin-top: 104px;
}
.secondlinedivh1 {
  color: var(--Gold, #d5966c);
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Big Shoulders Display";
  font-size: 36px;
  font-weight: 900;
  line-height: 36px;
  text-transform: uppercase;
  width: 350px;
}
.secondlinedivp {
  color: var(--White, #fff);
  font-feature-settings: "liga" off, "clig" off;
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 24px;
}
.secondlinedivp2 {
  color: var(--White, #fff);
  font-feature-settings: "liga" off, "clig" off;
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  width: 540px;
  margin-top: 32px;
  font-family: Outfit;
}
.secondlinediv {
  margin-top: 104px;
  margin-left: 220px;
}
.lastline {
  width: 1440px;
  height: 244px;
  background: var(--Gold, #d5966c);
  display: flex;
  flex-direction: row;
}
.lastlineheader {
  margin-left: 165px;
}
.lastlinetext {
  color: var(--Almost-Black, #151515);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  width: 430px;
  margin-top: 80px;
  margin-left: 140px;
  font-family: Outfit;
}
.icondiv {
  height: 20px;
  margin-top: 80px;
  margin-left: 280px;
  position: relative;
}
.firstline {
  position: relative;
}
.icon2 {
  margin-left: 20px;
}
.icon3 {
  margin-left: 20px;
}
.icon1 {
  transition: 1s;
}
.linki {
  padding-left: 32px;
  padding-right: 35px;
  padding-top: 24px;
  padding-bottom: 24px;
  position: absolute;
  left: 212px;
  color: var(--White, #fff);
  font-family: "Big Shoulders Display";
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 3.636px;
  text-decoration: none;
  background-color: black;
  transition: 2s;
}
.linkicon1 {
  position: absolute;
  left: 156px;
  opacity: 0;
  transition: 2s;
}
.linkicon {
  position: absolute;
  left: 156px;
  opacity: 1;
  transition: 2s;
}
#hovericon {
  display: none;
  position: absolute;
  transition: 1s;
}
@media (max-width: 1300px) {
  .ruka {
    width: 768px;
    height: 600px;
    object-fit: cover;
  }
  .secondline {
    width: 768px;
    height: 436px;
  }
  .secondlineheader {
    margin-top: 88px;
    margin-left: 39px;
    font-size: 55px;
    line-height: 50px;
  }
  .secondlinediv {
    margin-top: 88px;
    margin-left: 68px;
  }
  .secondlinedivh1 {
    font-size: 32px;
    line-height: 32px;
  }
  .secondlinedivp {
    margin-top: 20px;
    font-size: 18px;
    line-height: 28px;
  }
  .secondlinedivp2 {
    width: 380px;
    font-size: 18px;
    line-height: 28px;
  }
  .lastline {
    width: 768px;
    height: 216px;
  }
  .lastlineheader {
    margin-left: 39px;
    width: 110.05px;
    height: 40px;
    margin-top: 56px;
  }
  .lastlinetext {
    width: 281px;
    margin-top: 56px;
    margin-left: 65px;
  }
  .icondiv {
    margin-left: 133px;
  }
  .linki {
    left: 95px;
  }
  .linkicon {
    left: 39px;
  }
  .linkicon1 {
    left: 39px;
  }
}
@media (max-width: 780px) {
  .ruka {
    width: 375px;
    height: 550px;
  }
  .linkicon {
    left: 0px;
  }
  .linki {
    left: 56px;
  }
  .linkicon1 {
    left: 0px;
  }

  .secondline {
    width: 375px;
    height: 493px;
    flex-direction: column;
  }
  .secondlineheader {
    margin-top: 48px;
    margin-left: 16px;
    font-size: 50px;
    line-height: 45px;
  }
  .secondlinediv {
    margin-top: 48px;
    margin-left: 16px;
  }
  .secondlinedivp {
    margin-top: 20px;
  }
  .secondlinedivp2 {
    width: 320px;
    margin-top: 20px;
  }
  .lastline {
    width: 375px;
    height: 336px;
    flex-direction: column;
  }
  .lastlineheader {
    margin-top: 48px;
    margin-left: 32px;
  }
  .lastlinetext {
    margin-top: 38px;
    margin-left: 32px;
    width: 331px;
  }
  .lastlineicons {
    width: 100px;
    height: 20px;
    margin-top: 0px;
    margin-left: 0px;
  }
  .icondiv {
    margin-top: 38px;
    margin-left: 32px;
  }
}
